/.vs/


*.suo
*.user
*.vcxproj.user
*.vcxproj.filters
*.idea/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
Win32/
build/
Build/
vcpkg_installed/

*.exe
*.dll
*.obj
*.pdb
*.ilk
*.lib
*.sbr

*.tlog
*.log

/packages/
riderModule.iml
/_ReSharper.Caches/